<div
  [ngClass]="isAdmin? 'grid grid-cols-2 gap-2 place-items-center p-5' : 'grid grid-cols-1 gap-2 place-items-center p-5'">
  <div [ngClass]="isAdmin? 'w-1/2 h-48': 'w-1/3 h-48'">
    <app-card-home body="body" class="hover:cursor-pointer" footer="footer" header="Atletas"
                   imgPath="./assets/img/athletes.png" routerLink="/athletas"></app-card-home>
  </div>
  <div [ngClass]="isAdmin? 'w-1/2 h-48': 'w-1/3 h-48'">
    <app-card-home body="body" class="hover:cursor-pointer" footer="footer" header="Exercicios"
                   imgPath="./assets/img/exercise.png" routerLink="/exercises/peito"></app-card-home>
  </div>
  <div [ngClass]="isAdmin? 'w-1/2 h-48': 'w-1/3 h-48'">
    <app-card-home body="body" class="hover:cursor-pointer" footer="footer" header="Planilhas"
                   imgPath="./assets/img/sheet.png" routerLink="/sheets"></app-card-home>
  </div>
  @if (isAdmin) {
    <div class="w-1/2 h-48">
      <app-card-home class="hover:cursor-pointer" footer="footer" header="Financeiro" body="body"
                     imgPath="./assets/img/financeiro.png" routerLink="/home"></app-card-home>
    </div>
    <div class="w-1/2 h-48">
      <app-card-home class="hover:cursor-pointer" footer="footer" header="Cadastrar Cliente" body="body"
                     imgPath="./assets/img/newclient.png" routerLink="/register"></app-card-home>
    </div>
  }
</div>
