<nav class="fixed top-0 w-full bg-indigo-900 shadow dark:bg-gray-800 z-50">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="../../../../assets/img/banner.png"
           class="h-12 rounded-full"
           alt="Web Training Logo"
           />
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">WebTraining</span>
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <p class="text-sm  text-white dark:text-white hover:underline">{{ loggedUser.fullName }}</p>
      <img (click)="logout()"  src="assets/img/logout2.png" class="hover:cursor-pointer h-12 rounded-2xl" alt=""/>
    </div>
  </div>
</nav>

