<nav class="fixed top-0 w-full h-16 bg-indigo-900 shadow dark:bg-gray-800 z-50">
  <div class="grid grid-flow-row grid-rows-1 grid-cols-3">
    <div class="content-start ml-4 my-auto col-span-1">
      <a routerLink="/home" class="space-x-3 rtl:space-x-reverse">
        <img src="../../../../assets/img/banner.png"
             class="h-12 rounded-full"
             alt="Web Training Logo"
        />
      </a>
    </div>
    <div class="place-self-center col-span-1">
      <p class="text-3xl tracking-widest font-bold text-blue-400">WEB<strong
        class="text-2xl overline font-semibold whitespace-nowrap text-white">TRAINING</strong></p>
    </div>
    <div class="col-span-1 place-self-end my-auto">
      <div class="flex flew-row mr-5 mt-2">
        <p
          class="text-lg text-white mr-5 my-auto"> {{ loggedUser.userType === 'client' ? 'Professor: ' : 'Aluno: ' }} {{ loggedUser.fullName }}</p>
        <img (click)="logout()" src="assets/img/logout2.png" class="hover:cursor-pointer h-12 rounded-2xl" alt=""/>
      </div>
    </div>

  </div>
</nav>

