<p-toast class="bg-green bg-green-500 dark:bg-green-500 text-white rounded" key="tc" position="center"></p-toast>
<!-- Create Client modal -->
<p-dialog #openDialog (onHide)="onCloseCreate()" [(visible)]="showCreateExercise" [draggable]="false" [modal]="true"
          [style]="{ width: '50%'}" position="center">
  <ng-template pTemplate="headless">
    <div class="p-2 bg-white border-b rounded-t dark:border-gray-600 flex items-center justify-center w-full">
      <div class="w-full h-full">
        <!-- Modal header -->
        <div class="mb-2 border-b rounded-t dark:border-gray-600">
          <div class="p-4 text-xl font-semibold text-gray-900 dark:text-white">
            <i class="ml-2 pi pi-plus-circle" style="color: blue; font-size: 1rem"></i>
            Adicionar Exercício
          </div>
        </div>
        <!-- Modal content -->
        <div class="flex justify-center">
          <p-message *ngIf="!formValid" severity="error" text="Erro no Formulário"></p-message>
        </div>
        <form [formGroup]="exerciseFormGroup" class="relative mt-3 bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal body -->
          <div class="p-6 space-y-1">
            <div class="grid grid-cols-1">
              <div class="col-span-1 mb-2 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" htmlFor="exercise">Nome do
                  Exercicio</label>
                <input class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="exercise"
                       required=""
                       type="text">
              </div>
              <div class="col-span-1 mb-2 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" htmlFor="exercise_desc">Descrição</label>
                <input class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="exercise_desc"
                       required=""
                       type="text"/>
              </div>
              <div class="col-span-1 mb-2 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" htmlFor="repetition">Repetições</label>
                <input class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="repetition"
                       placeholder="4 x 10"
                       required="" type="text">
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div
            class="p-2 grid grid-flow-row gap-2 w-full col-auto sm:grid-flow-col sm:justify-center">
            <button (click)="submitEditExercise()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Save
            </button>
            <button (click)="onCloseEdit()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog (close)="onCloseEdit()" [(visible)]="showEditExercise" [draggable]="false" [modal]="true" [style]="{ width: '50%'}"
          position="center">
  <ng-template pTemplate="headless">
    <div class="p-2 bg-white border-b rounded-t dark:border-gray-600 flex items-center justify-center w-full">
      <div class="w-full h-full">
        <!-- Modal header -->
        <div class="mb-2 border-b rounded-t dark:border-gray-600">
          <div class="text-xl font-semibold text-gray-900 dark:text-white">
            Editar Dados Atleta
          </div>
        </div>
        <!-- Modal content -->
        <form [formGroup]="exerciseFormGroup" class="mt-3 bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal body -->
          <div class="p-6 space-y-1">
            <div class="grid grid-cols-1">
              <div class="col-span-1 mb-2 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" htmlFor="exercise">Nome do
                  Exercicio</label>
                <input class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="exercise"
                       required=""
                       type="text">
              </div>
              <div class="col-span-1 mb-2 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" htmlFor="exercise_desc">Descrição</label>
                <input class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="exercise_desc"
                       required=""
                       type="text">
              </div>
              <div class="col-span-1 mb-2 sm:col-span-3">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" htmlFor="repetition">Repetições</label>
                <input class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="repetition"
                       placeholder="4 x 10"
                       required="" type="text">
                <input formControlName="id_exercise" hidden required=""
                       type="text">
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div
            class="p-2 grid grid-flow-row gap-2 w-full col-auto sm:grid-flow-col sm:justify-center">
            <button (click)="submitEditExercise()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Save
            </button>
            <button (click)="onCloseEdit()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</p-dialog>

