 <section class="w-full m-3">
        <div class="grid grid-cols-2 p-2  w-full border-b py-3">
          <!-- Modal header -->
          <p class="flex flex-row text-xl md:text-xl font-semibold text-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 50 50"
                 style="fill:#228BE6;">
              <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"></path>
            </svg>
           <span class=mt-0.5 ml-1">Meus Dados</span>
          </p>

          <div class=" md:hidden place-self-end text-sm md:text-xl font-semibold text-gray-900">
            <a href="/home">
              <p class="mr-2"> <strong> &larr; </strong>Voltar</p>
            </a>
          </div>
        </div>

      <div class="my-4">
        <p class="text-gray-500 text-base font-semibold">Nome:</p>
        <p class="font-normal">{{clientInfo?.fullName}} </p>
      </div>
      <div class="grid grid-cols-1 gap-4 py-2 border-b">
        <div class="border p-2 rounded-md ">
          <p class="text-gray-500 text-xs font-semibold">Email:</p>
          <p class="font-light text-base">{{clientInfo?.email}}</p>
        </div>
        <div class="border p-2 rounded-md ">
          <p class="text-gray-500 text-xs font-semibold">Idade:</p>
          <p class="font-light text-base">{{clientInfo?.age}}</p>
        </div>
        <div class="border p-2 rounded-md ">
          <p class="text-gray-500 text-xs font-semibold">Objetivo:</p>
          <p class="font-light text-base">{{clientInfo?.training_type}}</p>
        </div>
        <div class="border p-2 rounded-md ">
          <p class="text-gray-500 text-xs font-semibold">Contato</p>
          <p class="font-light text-base">{{clientInfo?.phone }}</p>
        </div>
        <div class="border p-2 rounded-md ">
          <p class="text-gray-500 text-xs font-semibold">Cadastrado em:</p>
          <p class="font-light text-base">{{clientInfo?.createdAt | date:'shortDate' }}</p>
        </div>
        <div *ngIf="clientInfo?.isActive">
          <p class="flex text-gray-500 text-xs font-semibold">Status:
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 1024 1024">
              <path fill="#059669"
                    d="M512 0C229.232 0 0 229.232 0 512c0 282.784 229.232 512 512 512c282.784 0 512-229.216 512-512C1024 229.232 794.784 0 512 0m0 961.008c-247.024 0-448-201.984-448-449.01c0-247.024 200.976-448 448-448s448 200.977 448 448s-200.976 449.01-448 449.01m204.336-636.352L415.935 626.944l-135.28-135.28c-12.496-12.496-32.752-12.496-45.264 0c-12.496 12.496-12.496 32.752 0 45.248l158.384 158.4c12.496 12.48 32.752 12.48 45.264 0c1.44-1.44 2.673-3.009 3.793-4.64l318.784-320.753c12.48-12.496 12.48-32.752 0-45.263c-12.512-12.496-32.768-12.496-45.28 0" />
            </svg>
          </p>
        </div>
        <div *ngIf="!clientInfo?.isActive">
          <p class="flex text-gray-500 text-xs font-semibold">Status:
            <svg class="ml-2" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ff0a0a" stroke="#ff0a0a"><g id="SVGRepo_bgCarrier" stroke-width="1">
            </g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
              </g>
              <g id="SVGRepo_iconCarrier">
                <title></title>
                <g id="Complete">
                  <g id="x-circle"> <g>
                    <circle cx="12" cy="12" data-name="--Circle" fill="none" id="_--Circle" r="10" stroke="#f00000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
                    </circle>
                    <line fill="none" stroke="#f00000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="14.5" x2="9.5" y1="9.5" y2="14.5">
                    </line>
                    <line fill="none" stroke="#f00000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="14.5" x2="9.5" y1="14.5" y2="9.5">
                    </line> </g> </g> </g> </g></svg>
          </p>
        </div>
        <div>

      </div>
      </div>
    </section>

