<!-- Create Client modal -->
<p-dialog
  (onHide)="onCloseCreate()"
  position="center"
  [(visible)]="showPreviewSheet"
  [breakpoints]="{ '650px': '75vw', '575px': '90vw' }"
  [draggable]="false"
  [modal]="true"
  styleClass="overflow-auto"
  [style]="{ width: '70%'}">
  <ng-template pTemplate="headless">
    <div class="grid grid-flow-row grid-cols-1 bg-white border-b rounded-t dark:border-gray-600 w-full">
      <div class="grid grid-cols-2 gap-2 p-2 w-full">
        <!-- Modal header -->
          <div class="text-xl font-semibold text-gray-900 dark:text-white">
            <i class="ml-2 pi pi-plus-circle" style="color: blue; font-size: 1rem"></i>
            Preview Planilha
          </div>
          <div class="place-self-end">
          <button class="mr-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Atribuir Atleta a Planilha
          </button>
              <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Fechar
              </button>
            </div>
          </div>
        <!-- Modal content -->
        <div class="row-span-1 p-2">
          <table class="border border-slate-400">
            <caption class="caption-top">
                Preview Planilha
            </caption>
            <thead>
            <tr class="bg-gray-200" >
              <td class="border border-slate-900">Treino A</td>
              <td *ngIf="sheetB.length > 0" class="border border-slate-900">Treino B</td>
              <td *ngIf="sheetC.length > 0" class="border border-slate-900">Treino C</td>
              <td *ngIf="sheetD.length > 0" class="border border-slate-900">Treino D</td>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>
              <table class="border border-slate-400">
                <tr>
                <td class="w-1/4 border border-slate-800">
                  <p class="flex justify-center">Exercício</p>
                  @for(exercise of sheetA; track exercise) {
                    <p class="border capitalize border-l-blue-900"> {{ exercise.exercise }} </p>
                  }
                <td class="w-1/4 border border-slate-800">
                  <p class="flex justify-center">Repetição</p>
                @for(exercise of sheetA; track exercise) {
                  <p class="border capitalize border-l-blue-900"> {{ exercise.repetition }} </p>
                }
                </td>
              </tr>
              </table>
                </td>

                <td  *ngIf="sheetB.length > 0" class="w-1/4 border border-slate-300">
                  <table class="border border-slate-400">
                    <tr>
                      <td class="w-1/4 border border-slate-800">
                        <p class="flex justify-center">Exercício</p>
                        @for(exercise of sheetB; track exercise) {
                          <p class="border capitalize border-l-blue-900"> {{ exercise.exercise }} </p>
                        }
                      <td class="w-1/4 border border-slate-800">
                        <p class="flex justify-center">Repetição</p>
                        @for(exercise of sheetB; track exercise) {
                          <p class="border capitalize border-l-blue-900"> {{ exercise.repetition }} </p>
                        }
                      </td>
                    </tr>
                  </table>
                </td>

              <td  *ngIf="sheetC.length > 0" class="w-1/4 border border-slate-300">
                <table class="border border-slate-400">
                  <tr>
                    <td class="w-1/4 border border-slate-800">
                      <p class="flex justify-center">Exercício</p>
                      @for(exercise of sheetC; track exercise) {
                        <p class="border capitalize border-l-blue-900"> {{ exercise.exercise }} </p>
                      }
                    <td class="w-1/4 border border-slate-800">
                      <p class="flex justify-center">Repetição</p>
                      @for(exercise of sheetC; track exercise) {
                        <p class="border capitalize border-l-blue-900"> {{ exercise.repetition }} </p>
                      }
                    </td>
                  </tr>
                </table>
                </td>
                <td  *ngIf="sheetD.length > 0" class="w-1/4 border border-slate-300">
                  <table class="border border-slate-400">
                    <tr>
                      <td class="w-1/4 border border-slate-800">
                        <p class="flex justify-center">Exercício</p>
                        @for(exercise of sheetD; track exercise) {
                          <p class="border capitalize border-l-blue-900"> {{ exercise.exercise }} </p>
                        }
                      <td class="w-1/4 border border-slate-800">
                        <p class="flex justify-center">Repetição</p>
                        @for(exercise of sheetD; track exercise) {
                          <p class="border capitalize border-l-blue-900"> {{ exercise.repetition }} </p>
                        }
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
            <tfoot class="border-spacing-2" >
            <tr class="capitalize">
              <td class="col-span-1 border-slate-500 border-separate">Observações:</td>
              <td class="col-span-4 capitalize border-slate-500 border-separate">
                {{ sheetInfo.sheet_desc }}
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
  </ng-template>
</p-dialog>

