<!-- Create Client modal -->
<p-dialog
  (onHide)="onCloseCreate()"
  position="center"
  [(visible)]="showPreviewSheet"
  [breakpoints]="{ '650px': '75vw', '575px': '90vw' }"
  [draggable]="false"
  [modal]="true"
  styleClass="overflow-auto"
  [style]="{ width: '70%'}">
  <ng-template pTemplate="headless">
    <div class="grid grid-flow-row grid-cols-1 bg-white border-b rounded-t dark:border-gray-600">
      <div class="grid grid-cols-2 gap-2 p-2">
        <!-- Modal header -->
          <div class="text-xl font-semibold text-gray-900 dark:text-white">
            <i class="ml-2 pi pi-plus-circle" style="color: blue; font-size: 1rem"></i>
            Preview Planilha
          </div>
          <div class="place-self-end">
          <button class="mr-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Atribuir Atleta a Planilha
          </button>
              <button (click)="onCloseCreate()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Fechar
              </button>
            </div>
          </div>
        <!-- Modal content -->
        <div class="row-span-1 p-2">
          <table class="w-full border border-slate-400">
            <thead>
            <tr class="bg-gray-200" >
              <td class="border border-slate-900">
                <app-header-table training_id="Treino A"></app-header-table>
              </td>
              <td *ngIf="sheetB.length > 0" class="border border-slate-900">
                <app-header-table training_id="Treino B"></app-header-table>
              </td>
              <td *ngIf="sheetC.length > 0" class="border border-slate-900">
                  <app-header-table training_id="Treino C"></app-header-table>
              </td>
              <td *ngIf="sheetD.length > 0" class="border border-slate-900">
                <app-header-table training_id="Treino D"></app-header-table>
              </td>
            </tr>

            </thead>
            <tbody class="align-top">
              <tr>
                <td class="border border-slate-900 align-text-top">
                  <app-training-table [sheet]="sheetA" ></app-training-table>
                </td>
                <td  *ngIf="sheetB.length > 0" class="border border-slate-900">
                  <app-training-table [sheet]="sheetB" ></app-training-table>
                </td>

              <td  *ngIf="sheetC.length > 0" class="border border-slate-900">
                <app-training-table [sheet]="sheetC" ></app-training-table>
              </td>
                <td  *ngIf="sheetD.length > 0" class="border border-slate-900">
                    <app-training-table [sheet]="sheetD" ></app-training-table>
                </td>
              </tr>
            </tbody>
            <tfoot class="border-spacing-2" >
            <tr>
              <td colspan="1" class="col-span-1 border-slate-500 border-separate">Observações:</td>
              <td colspan="4" class="capitalize border-slate-500 border-separate">
                {{ sheetInfo.sheet_desc }}
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
  </ng-template>
</p-dialog>

