
    <div class="grid grid-flow-row grid-cols-1 bg-white border-b rounded-t dark:border-gray-600">
      <div class="grid grid-cols-1 p-2">
        <!-- Modal header -->
        <div class="flex text-sm md:text-xl font-semibold text-gray-900 dark:text-white">
          <img ngSrc="assets/img/usersheet.png" width="40" height="40" alt="User Sheet">
         <p class="my-auto ml-2"> Planilha </p>
        </div>

      </div>
      <!-- Modal content -->
      <div class="p-3 grid grid-rows-1 w-full md:grid-rows-1 md:grid-cols-1">
        <div class="col-span-1">
          <app-training-table [sheet]="sheetA" training="Treino A"></app-training-table>
        </div>
        <div class="col-span-1">
          <app-training-table *ngIf="sheetB.length > 0" [sheet]="sheetB" training="Treino B"></app-training-table>
        </div>
        <div class="col-span-1">
          <app-training-table *ngIf="sheetC.length > 0" [sheet]="sheetC" training="Treino C"></app-training-table>
        </div>
        <div class="col-span-1">
          <app-training-table *ngIf="sheetD.length > 0" [sheet]="sheetD" training="Treino D"></app-training-table>
        </div>
      </div>
      <div class="p-3 mt-6">
        Observações: {{sheetInfo?.sheet_details}}
      </div>
    </div>

