<div
  class="grid grid-rows-5 grid-cols-1 gap-1 mb-0 border-slate-500 rounded-lg shadow-slate-500 shadow-lg w- bg-gray-100 border-b-2 justify-center items-center mr-2">
  <div class="row-span-1 h-8">
  </div>
  <div class="row-span-3 mt-0">
    <div class="flex justify-center">
      <img [alt]="imgAlt" [ngSrc]="imgPath" class="flex justify-center rounded-2xl" height="50" width="50"/>
    </div>
    <p class="flex justify-center">{{ header }}</p>
  </div>
  <div class="row-span-1">
    <hr class="divide-y-3">
    <p class="flex justify-center">{{ footer }}</p>
  </div>
</div>
